#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
character-set-server = utf8
user		= mysql
pid-file	        = /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /www/mysql
tmpdir		= /www/tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 0.0.0.0
#
# * Fine Tuning
#
max_connections     = 8000
open-files-limit	= 65535
connect_timeout		= 5
wait_timeout        = 1800
key_buffer_size		= 1024M
max_allowed_packet	= 1024M
thread_stack		= 256K
thread_cache_size   = 150
tmp-table-size      = 32M
table_open_cache	= 4096
table_definition_cache = 4096
concurrent_insert 	= 2



# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover-options         = BACKUP
myisam_sort_buffer_size = 512M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M

#table_cache            = 64
#thread_concurrency     = 10
#
# * Query Cache Configuration
#
query_cache_limit	= 0M
query_cache_size    = 0M



#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
#general_log_file        = /var/log/mysql/mysql.log
#general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time         = 0.1
log_slow_verbosity      = query_plan
log-queries-not-using-indexes
log_slow_admin_statements
log_bin_trust_function_creators = on

log_warnings = 3
userstat = on
max_connect_errors = 1000000


#log_slow_queries	= /var/log/mysql/mysql-slow.log
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
server-id		= 33
log_slave_updates = 0 
binlog_annotate_row_events = on
auto_increment_increment= 2 
auto_increment_offset    = 1 
slave-skip-errors	=	1032, 1062, 1007 

log_bin			    = /www/mysql/mysql-bin.log
log_bin_index         = /www/mysql/mysql-bin.log.index 
relay_log                  = /www/mysql/mysql-relay-bin 
relay_log_index     = /www/mysql/mysql-relay-bin.index 
binlog_format		= row
expire_logs_days	= 15
max_binlog_size        = 1000M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

innodb_buffer_pool_size=32G
innodb_buffer_pool_instances = 16
innodb_log_file_size=1024MB
innodb_log_buffer_size=8M
innodb_thread_concurrency=24
innodb_flush_log_at_trx_commit=2
innodb_file_per_table = 1
innodb_flush_method=O_DIRECT
innodb_file_format_max = Barracuda
innodb_stats_on_metadata = 0
innodb_io_capacity = 150000
innodb_write_io_threads=16
innodb_read_io_threads=16
innodb_lru_scan_depth=2000
innodb_autoinc_lock_mode = 2
innodb_flush_neighbors =0
innodb_compression_default = on
innodb_compression_algorithm = lz4
skip-name-resolve

#Should be set to 4096 for SSD cards or if innodb_flush_method is set to ALL_O_DIRECT on ext4 filesystems. 
innodb_log_block_size = 4096

[mysqldump]
quick
quote-names
max_allowed_packet	= 1024M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
